[mcu hot_mcu]
canbus_uuid: 58a72bb93aa4

## SELECT ONE OPTION BELOW! ##

# USE WITH CHAMBER SENSOR ONLY - DEFAULT

[temperature_sensor Chamber_Temp] #TH1
sensor_type: EPCOS 100K B57560G104F
pullup_resistor: 20000
sensor_pin: hot_mcu: PA5
min_temp: 5
max_temp: 85

# OR.... UNCOMMENT TO USE SECOND FAN AS AN AUTOMATIC EXHAUST FAN - BETTER!

# [temperature_fan chamber]
# pin: PE11
# tachometer_pin: PE13
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 0.5
# cycle_time:0.01
# off_below:0.1
# sensor_type: EPCOS 100K B57560G104F
# pullup_resistor: 20000
# sensor_pin: hot_mcu: PA5
# min_temp: 5
# max_temp: 70
# target_temp: 50
# control: pid
# pid_kp: 35.5
# pid_ki: 1.5
# pid_kd: 40
# max_speed: 1.0
# min_speed: 0.0
# gcode_id: C

[heater_generic Chamber_Heater] #TH2
gcode_id: CH
heater_pin: hot_mcu: PA0
max_power: 0.85
sensor_type: Generic 3950
pullup_resistor: 20000
sensor_pin: hot_mcu: PA4
control: pid
pid_kp : 18.477
pid_ki : 1.447
pid_kd : 58.199
min_temp: 5
max_temp: 96

[heater_fan Chamber_Heater_Fan]
pin: PB0
tachometer_pin: PB1
max_power: 1.0
kick_start_time: 0.5
shutdown_speed: 1
off_below: 0.1
heater: Chamber_Heater
heater_temp: 55
fan_speed: 0.85

[verify_heater Chamber_Heater]
max_error: 120
check_gain_time: 90
hysteresis: 5
heating_gain: 2

[output_pin DISABLE_CHAMBER_HEATER]
pin: PE8 # You can also use PE7, PE2, PD11, PD14 if unused
